<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pluginlib">

    <application android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".ProxyActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
    </application>

</manifest>